:root {
  --color-primary: #4e5ba6;
  --color-blue-light-1: #e0f2fe;
  --color-grey-light-1: #fafafa;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #7e7474;
  --color-white: #fff;
  --color-black: #000; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-blue-light-1); }

.heading-primary {
  font-size: 7.5rem;
  font-weight: 700;
  color: var(--color-primary); }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-grey-dark-1); }

.card {
  cursor: pointer;
  background-color: white;
  border-radius: 0.35rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
  height: 12.5rem;
  width: 8.5rem;
  font-size: 1.4rem; }
  .card__color {
    background-color: #fcfaff;
    height: 50%; }
  .card__details {
    padding: 1rem; }
    .card__details--weight {
      font-weight: 700; }
    .card__details--code {
      color: var(--color-grey-light-2);
      font-weight: 500; }

.container {
  padding: 5rem 10rem; }

.row {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr)); }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-small-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 5rem !important; }
